@use 'partials/variables' as *;
@use 'partials/nav';
@use 'partials/footer';
@use 'partials/mixins';
@use 'partials/index';
@use 'partials/servicios';
@use 'partials/extends';
@use 'partials/nosotros';
@use 'partials/trabajos';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}