@use 'variables' as *;

%titulo-seccion {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 0.2rem;
    padding: 3rem;
}

%texto-lista {
    font-size: .85rem;
    font-family: $fuente-principal;
    color: #444444;
    line-height: 1.6;
}

%estilos-lista-servicios {
    display: flex;
    flex-direction: column;
    width: 280px;
    background-color: #ffffff;
    padding: 1.5rem;
    border-radius: .8rem;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    gap: 1rem;

    .titulo {
        display: flex;
        flex-direction: column;

        h2 {
            font-size: 1.1rem;
            font-family: $fuente-principal;
            color: #333333;
        }
    }
}

%fondo-seccion {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: .8rem;
    padding: 2rem;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}