@use 'variables' as *;

.hero{
    background-image:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('../assets/images/hero.png');
    background-size: cover;
    background-position: center;
    height: 350px;
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 7rem;
}

.marca-desc-hero{
     padding:2rem;

    h2{
        font-size: 3.3rem;
        color: $color-texto;
        font-family: $fuente-principal;
        
    }

    p{
        font-size: 1rem;
        padding-left: .2rem;
        color: $color-texto;
        width:43.75rem ;
        font-family: $fuente-principal;
    }
}

.btn-presu-hero{
    
    background-color: $color-primario;
    color: $color-texto;
    text-decoration: none;
    font-family: $fuente-principal;
    padding: 1.25rem 2.5rem;
    border-radius: 1.25rem;
    font-size: 1.2rem;
    transition: 0.2s ease;
    

    &:hover {
        transform: scale(0.95);
        box-shadow: .625rem .625rem 1.25rem rgba(10, 18, 54, 0.486);
        
    }
}

