@use 'variables' as *;
@use 'extends' as *;

@mixin texto-card($size-titulo, $size-texto) {
    h3 {
        font-size: $size-titulo;
        font-family: $fuente-principal;
        font-weight: 700;
        color: #222222;
    }

    p {
        font-size: $size-texto;
        font-family: $fuente-principal;
        color: #cccccc;
    }
}


@mixin boton-contacto($padding-size, $font-size) {
    background-color: $color-primario;
    color: $color-texto;
    text-decoration: none;
    font-family: $fuente-principal;
    padding: $padding-size;
    border-radius: 1.25rem;
    font-size: $font-size;
    transition: 0.2s ease;


    &:hover {
        transform: scale(0.95);
        color: $color-texto;
        box-shadow: .625rem .625rem 1.25rem rgba(10, 18, 54, 0.486);

    }
}

@mixin servicios-detalle-titulo {
    font-size: 2rem;
    font-family: $fuente-principal;
}

@mixin icono-card($color-icono) {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;

    i {
        font-size: 3rem;
        color: $color-icono;
    }
}

@mixin barrita($color-barrita) {
    width: 55px;
    height: 4px;
    background-color: $color-barrita;
    border-radius: 10px;
    margin-top: 8px;

}

@mixin ul-lista ($color-tick) {
    background-color: #102d8b15;
    border-radius: .5rem;
    padding: .7rem;
    padding-left: 1rem;
    list-style: none;

    li::before {
        content: "✔ ";
        color: $color-tick;
    }

    li {
        @extend %texto-lista;
    }
}

@mixin lista-servicios($color) {
    display: flex;
    gap: 2rem;
    align-items: stretch;
    margin-top: 2rem;
    padding: 0 1rem;
    flex-wrap: wrap;

    .categoria {
        @extend %estilos-lista-servicios;

        .barrita {
            @include barrita($color);
        }

        ul {
            @include ul-lista($color);
        }
    }
}

@mixin responsive($breakpoint) {
    @if $breakpoint ==tablet {
        @media (max-width: 768px) {
            @content;
        }
    }

    @if $breakpoint ==mobile {
        @media (max-width: 480px) {
            @content;
        }
    }
}