@use 'variables' as *;

@mixin texto-card($size-titulo, $size-texto) {
    h3 {
        font-size: $size-titulo;
        font-family: $fuente-principal;
        font-weight: 700;
        color: #222222;
    }
    p {
        font-size: $size-texto;
        font-family: $fuente-principal;
        color: #666666;
    }
}


@mixin boton-contacto($padding-size, $font-size){
    background-color: $color-primario;
    color: $color-texto;
    text-decoration: none;
    font-family: $fuente-principal;
    padding: $padding-size;
    border-radius: 1.25rem;
    font-size: $font-size;
    transition: 0.2s ease;


    &:hover {
        transform: scale(0.95);
        box-shadow: .625rem .625rem 1.25rem rgba(10, 18, 54, 0.486);

    }
}