@use 'variables' as *;
@use 'mixins' as *;
@use 'extends' as *;

.hero-servicios {
    background: linear-gradient(90deg, #081220, #0fa4e7);
    min-height: 45vh;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    .hero-contenido {

        span {
            color: #9fdfff;
            font-size: .9rem;
            letter-spacing: 2px;
            font-weight: 600;
            font-family: $fuente-principal;
        }

        h1 {
            color: white;
            font-size: 3.5rem;
            margin: 1rem 0;
            font-family: $fuente-principal;
        }

        p {
            color: white;
            max-width: 700px;
            margin: auto;
            font-family: $fuente-principal;
        }
    }
}

.intro-servicios {

    background: white;

    display: flex;
    align-items: center;
    gap: 3rem;

    max-width: 1200px;
    margin: auto;

    padding: 5rem 2rem;

    .intro-img img {
        width: 350px;
        height: 250px;

        object-fit: cover;

        border-radius: 15px;

        box-shadow: 0 10px 25px rgba(0, 0, 0, .15);
    }

    .intro-info {

        h2 {
            color: #0fa4e7;
            margin-bottom: 1rem;
            font-family: $fuente-principal;
        }

        p {
            line-height: 1.8;
            color: #555;
            font-family: $fuente-principal;
        }
    }
}

.servicios-cards {

    background: linear-gradient(90deg, #081220, #0fa4e7);

    padding: 5rem 2rem;

    display: flex;
    justify-content: center;
    gap: 2rem;

    flex-wrap: wrap;
}

.card-servicio {

    width: 320px;

    background: $color-terciario;

    border: 1px solid rgba(255, 255, 255, .15);

    border-radius: 15px;

    padding: 2rem;

    backdrop-filter: blur(8px);

    transition: .3s;

    &:hover {
        transform: translateY(-8px);
    }

    .icono {

        width: 70px;
        height: 70px;

        border-radius: 50%;

        background: rgba(255, 255, 255, .1);

        display: flex;
        justify-content: center;
        align-items: center;

        margin-bottom: 1.5rem;

        i {
            color: #00b4ff;
            font-size: 2rem;
        }
    }

    h3 {
        color: white;
        margin-bottom: 1.5rem;
        font-family: $fuente-principal;
    }

    ul {
        list-style: none;
        padding: 0;
        font-family: $fuente-principal;

        li {
            color: #e4e4e4;
            padding: .7rem 0;
            border-bottom: 1px solid rgba(255, 255, 255, .1);

            &::before {
                content: "✓ ";
                color: #00b4ff;
            }
        }
    }

    li {
        color: #e4e4e4;
        padding: .7rem 0;
        border-bottom: 1px solid rgba(255, 255, 255, .1);

        &::before {
            content: "✓ ";
            color: #00b4ff;
        }
    }
}

@media(max-width: 768px) {

    .intro-servicios {
        flex-direction: column;
        text-align: center;
    }

    .intro-img img {
        width: 100%;
        max-width: 350px;
    }

    .hero-servicios h1 {
        font-size: 2.3rem;
    }
}

.btn-servicio {

    display: block;

    text-align: center;

    margin-top: 2rem;

    padding: 1rem;

    border-radius: 12px;

    text-decoration: none;

    font-family: $fuente-principal;
    font-weight: 600;

    color: #00b4ff;

    border: 2px solid #00b4ff;

    transition: .3s ease;

    &:hover {

        background: #00b4ff;

        color: white;

        transform: translateY(-2px);
    }
}

.cta-servicios {

    padding: 3.5rem 1rem;

    text-align: center;

    h2 {
        font-size: 1.5rem;
        font-family: $fuente-principal;
        color: #ffffff;
        margin-bottom: 1rem;
    }

    p {
        max-width: 600px;
        margin: 0 auto 2rem auto;
        font-size: 0.9rem;
        font-family: $fuente-principal;

        color: #9fdfff;

        line-height: 1.7;
    }

    a {

        display: inline-block;
        text-decoration: none;
        font-family: $fuente-principal;
        padding: 0.75rem 1.5rem;
        transition: .3s ease;
        color: #ffffff;
        background: $color-terciario;
        border-radius: 8px;

        &:hover {
            color: $color-primario;
            transform: translateY(-2px);
        }
    }
}