$color-primario: #ffd82b;
$color-fondo: #00A3CA;
$color-texto: #ffffff;
$color-secundario: #1f2937;
$color-terciario: #5f5f5fda;
$fuente-principal: 'Poppins', sans-serif;
$fondo-grandiente: linear-gradient(90deg, #081220, #0fa4e7);

$fuente-footer: 0.8rem;
$color-texto-footer: #d2d2d2;
$color-fondo-index: #dadada8f;